:root {
    --white: #ffffff;
    --lightest: #cfe2f3;
    --lighter: #9fc5e8;
    --light: #6fa8dc;
    --dark: #3d85c6;
    --darkest: #0b5394;   
}   
main {
    /* border: red 1px dashed; */
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
    font-size: small;
    background-color: white;
}


h1 {
    padding: 1rem;
    text-transform: uppercase;
    color: var(--darkest);
}
h2 {
    padding: 1rem;
    text-transform: uppercase;
    font-size:large;
    text-align: right;

    color: var(--dark);
}
h3 {
    padding-bottom: 1rem;
    color: var(--darkest)
}

form {
    width: 90vw;
    max-width: 20em;
    padding: 1rem;
    color: var(--dark);
  }
  
  button {
    background-color: var(--light);
  }
  input {
    border: var(--dark) 1px solid;
    padding: 0.1em;
    width: 100%;
  }
  
  textarea {
    width: 100%;
    min-height: 6em;
  }
  
  label {
    display: block;
    margin-top: 0.2rem;
  }
  
  .postal-code {
    width: 50%;
  }
  
  .total {
    padding: 1rem;
    text-transform: uppercase;
    color: var(--dark);
  }

  .task {
    display: flex;
    margin-left: 1rem;
  }
  .task div {
    width: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .task input {
    height: 100%;
    text-align: center;
  }
    .sub_total_output {
        text-align: center;
    }

  .total {
    padding: 0;
    /* margin-right: 1rem; */
    color: black
  }
  #total-input {
    margin-right: 1rem;
    font-size:x-large;
    /* border: blue 1px dashed; */
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
  }
.recipient-wrapper {
    /* border: green 1px solid; */
    margin-bottom: 3rem;
}
